@model MVCWatches.Models.Watches

@{
    ViewData["Title"] = "Adicionar";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="alinhamento">Adicionar Relógio</h1>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Categoria" class="form-control" placeholder="Categoria" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="Nome" class="form-control" placeholder="Nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="Marca" class="form-control" placeholder="Marca" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input asp-for="Valor" class="form-control" placeholder="Valor" />
            </div><br />
            <div class="form-group">
                <input asp-for="Cor" class="form-control" placeholder="Cor Disponível" />
            </div><br />
            <div class="form-group">
                <input asp-for="Ano" class="form-control" placeholder="Ano de Fabrico" />
            </div><br />
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-success btn-sm" />
                <a asp-action="Index" class="btn btn-primary btn-sm">Voltar a listagem</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
